{% extends 'main.html' %}

{% block title %}
<title>
    Add Grant | Gov. Secondary School Babarkot
</title>
{% endblock title %}

{% block content %}
<div class="container-fluid text-center mt-3 pt-3"
    style="align-items:center;width:350px;">
    <p class="fs-2 fw-bold" style="color: {{request.session.color}};">
        નવી ગ્રાન્ટ ઉમેરો
    </p>
    <form method="post">
        {% csrf_token %}
        <select name="account" id="account" class="form-select form-select-lg mb-2">
            
            {% for acc in acc %}
                                
            <option value="{{acc.id}}">{{acc.account_name}} ({{acc.year}})</option>

            {% endfor %}

        </select>
        <input type="text" placeholder="Entry Number" name="enno"
            class="form-control form-control-lg mb-2 numberonly" value="{{grant.entry_no}}" required>
        <input type="text" placeholder="Grant Detail" name="grantdet"
            class="form-control form-control-lg mb-2" value="{{grant.grant_details}}" required>
        <input type="text" placeholder="Amount" name="amount"
            class="form-control form-control-lg mb-2 numberonly" value="{{grant.amount}}" required>
        <input type="text" placeholder="Order No./Deposite No." name="odno"
            class="form-control form-control-lg mb-2" value="{{grant.order_no}}" required>
        <input type="text" placeholder="Bank Deposite Date" name="deposite_date"
            class="form-control form-control-lg mb-2" value="{{grant.bank_deposite_date.year}}/{{grant.bank_deposite_date.day}}/{{grant.bank_deposite_date.month}}"
            onfocus="(this.type='date')" required>
        <input type="text" placeholder="Remarks" name="remarks"
            class="form-control form-control-lg mb-2" value="{{grant.remarks}}" required>
        <button type="submit" class="btn btn-lg text-white w-100"
            style="background-color: {{request.session.color}};"> Add New Entry <i class="bi
                bi-person-plus"></i></button>
    </form>
</div>
<script>
    $(document).ready(function () {    
    
        $('.account').keypress(function (e) {    

            var charCode = (e.which) ? e.which : event.keyCode    

            if (String.fromCharCode(charCode).match(/[^0-9]/g))    

                return false;                        

        });   
        

    });  
</script>
<script>
    $(document).ready(()=>{
        $("#account").val('{{grant.account.id}}');
    }); 
</script>
{% endblock content %}
