<script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="crossorigin="anonymous"></script>
<script>
  function fade_alerts() {
      alerts = document.getElementsByClassName("alert");
          var i = alerts.length;
          for (let elem of alerts) {
              i--;
              time = 3250+(1000*i);
              setTimeout(function() {
                  $(elem).fadeOut("slow");
              }, time);
          }
  }
</script>