{% extends 'main.html' %}
{% load static %}
{% block title %}
<title>
    Gallery | Gov. School Babarkot
</title>
{% endblock title %}
{% block content %}
<div class="container mt-3 text-center">
    <p class="fs-2 fw-bold" style="color: {{request.session.color}};">શાળા ગેલેરી</p>
        <div class="row row-cols-1 row-cols-md-2 g-4">

        {% for gal in gallery %}

            <div class="col p-3">
              <div class="h-100 shadow p-5" style="border-radius: 20px;background-color:{{request.session.color}}">
                    <p class="fs-3 fw-bold text-white text-center pt-2 ">
                        {{gal.category}}
                    </p>
                <form method="post">
                    {% csrf_token %}
                    <a href="{% url 'viewgallery' gal.id %}" class="btn btn-light rounded-circle  mt-3 pt-2 pb-2 shadow mb-3"><i class="fa-solid fa-mountain-sun"></i></a>
                </form>
              </div>
            </div>

        {% endfor %}
        </div>
</div>
<style>
    .btn:hover{
        scale: 1.5;
        transition: 0.3s ease-out;
    }
</style>
{% endblock content %}