{% extends 'main.html' %}
{% block title %}
<title>
    General Register | Gov. Secondary School Babarkot
</title>
{% endblock title %}
{% block content %}
<div class="container-fluid text-center mt-1 pt-3">
    <form method="post">
        {% csrf_token %}
        <div class="d-flex">

        </div>
        <div class="d-flex justify-content-between mb-3">
            <button type="submit" name="download" class="btn text-white pe-4
                ps-4" style="background-color: {{request.session.color}};border-radius: 20px;"><i
                    class="bi bi-download" style="font-size: 20px;"></i></button>
            <p class="fs-2 fw-bold" style="color: {{request.session.color}};">સામાન્ય વય પત્રક</p>
            <button type="submit" name="add" class="btn text-white pe-4
                ps-4" style="background-color: {{request.session.color}};border-radius: 20px;"><i
                    class="bi bi-person-plus-fill" style="font-size: 20px;"></i></button>
        </div>
    </form>
    {% include 'messages.html' %}
    <div class="p-3 shadow" style="background-color: {{request.session.color}};border-radius:15px">
        <form method="post">
            {% csrf_token %}
            <div class="d-flex mb-2">
                <input class="form-control me-2" list="gr" placeholder="GR No." name="gr">
                <datalist id="gr">
                    
                    {% for gr_data in gr_data %}
                                            
                    <option value="{{gr_data.gr_number}}">

                    {% endfor %}

                </datalist>
                <button type="submit" class="btn btn-light me-2" name="grfil" style="color: {{request.session.color}};border-radius:10px;"><i class="fa-solid fa-magnifying-glass"></i></button>
                <input class="form-control me-2" list="name" placeholder="Student" name="name">
                <datalist id="name">
                    
                    {% for gr_data in gr_data %}
                                            
                    <option value="{{gr_data.student_name}}">

                    {% endfor %}

                </datalist>
                <button type="submit" class="btn btn-light" name="namefil" style="color: {{request.session.color}};border-radius:10px;"><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
            <div class="d-flex mb-3">
                
                <input class="form-control me-2" list="datalistOptions" placeholder="Year" name="year">
                <datalist id="datalistOptions">
                    
                    {% for gr_data in gr_data %}
                                            
                    <option value="{{gr_data.entry_year}}">

                    {% endfor %}

                </datalist>
                <button type="submit" class="btn btn-light me-2" name="yearfil" style="color: {{request.session.color}};border-radius:10px;"><i class="fa-solid fa-calendar-days"></i></button>
                <input class="form-control me-2" list="UDISE" placeholder="UDISE" name="UDISE">
                <datalist id="UDISE">
                    
                    {% for gr_data in gr_data %}
                                            
                    <option value="{{gr_data.udise}}">

                    {% endfor %}

                </datalist>
                <button type="submit" class="btn btn-light" name="udisefil" style="color: {{request.session.color}};border-radius:10px;"><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
        </form>
        <div class="table-responsive">
            <table class="table text-light table-bordered">
                <thead>
                    <tr>
                        <th scope="col">{{cl1}}</th>
                        <th scope="col">{{cl2}}</th>    
                        <th scope="col">{{cl3}}</th>    
                        <th scope="col">{{cl4}}</th>
                        <th scope="col">{{cl4}}</th>
                        <th scope="col">{{cl6}}</th>
                        <th scope="col">{{cl7}}</th>
                        <th scope="col">{{cl8}}</th>
                        <th scope="col">{{cl9}}</th>
                        <th scope="col">{{cl10}}</th>
                        <th scope="col">{{cl11}}</th>
                        <th scope="col">{{cl12}}</th>
                        <th scope="col">{{cl13}}</th>
                        <th scope="col">{{cl14}}</th>
                        <th scope="col">{{cl15}}</th>
                        <th scope="col">{{cl16}}</th>
                        <th scope="col">{{cl17}}</th>
                        <th scope="col">{{cl18}}</th>
                        <th scope="col">{{cl19}}</th>
                        <th scope="col">{{cl20}}</th>
                        <th scope="col">{{cl21}}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for gr in gr %}
                    <tr>
                        <th scope="row">{{gr.gr_number}}</th>
                        <td>{{gr.udise}}</td>
                        <td>{{gr.student_name}}</td>
                        <td>{{gr.mother_name}}</td>
                        <td>{{gr.religion}}</td>
                        <td>{{gr.birth_place}}</td>
                        <td>{{gr.dob}}</td>
                        <td>{{gr.dob_in_words}}</td>
                        <td>{{gr.previous_school_std}}</td>
                        <td>{{gr.school_joining}}</td>
                        <td>{{gr.admission_std}}</td>
                        <td>{{gr.fees}}</td>
                        <td>{{gr.date_leaving}}</td>
                        <td>{{gr.leaving_std}}</td>
                        <td>{{gr.leaving_reason}}</td>
                        <td>{{gr.progress}}</td>
                        <td>{{gr.behaviour}}</td>
                        <td>{{gr.date_taking_lc}}</td>
                        <td>{{gr.note}}</td>
                        <form method="post">
                            {% csrf_token %}
                            <td>
                                <button type="submit" name="edit" class="btn btn-light" value="{{gr.id}}" style="color: {{request.session.color}};border-radius:15px;"><i class="fa-solid fa-user-pen"></i></button>
                            </td>
                            <td>
                                <button type="submit" name="delete" class="btn btn-light" value="{{gr.id}}" style="color: {{request.session.color}};border-radius:15px;"><i class="fa-solid fa-user-xmark"></i></button>
                            </td>
                        </form>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<style>
    .dropdown-menu > li > a {
        background-image: none;
        color: {{request.session.color}};
    }
    .dropdown-menu > li > a:hover {
        background-image: none;
        background-color: {{request.session.color}};
        color: white;
    }
</style>
{% endblock content %}