{% extends 'main.html' %}

{% block title %}
<title>
    Grant Register | Gov. Secondary School Babarkot
</title>
{% endblock title %}

{% block content %}
<div class="container-fluid text-center mt-3 pt-3" style="align-items:center;">
    <form method="post">
        {% csrf_token %}
        <div class="d-flex justify-content-between mb-3">
            <button type="submit" name="export" class="btn text-white pe-4
                ps-4" style="background-color: {{request.session.color}};border-radius: 20px;"><i
                    class="bi bi-download" style="font-size: 20px;"></i></button>
            <p class="fs-2 fw-bold" style="color: {{request.session.color}};">ગ્રાન્ટ રજીસ્ટર</p>
            <button type="submit" name="add-grant" class="btn text-white pe-4
                ps-4" style="background-color: {{request.session.color}};border-radius: 20px;"><i
                    class="bi bi-person-plus-fill" style="font-size: 20px;"></i></button>
        </div>
    </form>
    {% include 'messages.html' %}
    <div class="shadow p-3" style="border-radius: 20px;background-color:
        {{request.session.color}};">
        <div class="table-responsive">
            <table class="table text-white">
                <thead>
                    <tr>
                        <th scope="col">Entry No.</th>
                        <th scope="col">Account</th>
                        <th scope="col">Grant Detail</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Order No./Deposite No.</th>
                        <th scope="col">Bank Deposite Date</th>
                        <th scope="col">Remarks</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for grant in grant %}

                    <tr>
                        <th scope="row">{{grant.entry_no}}</th>
                        <td>{{grant.account.account_name}}</td>
                        <td>{{grant.grant_details}}</td>
                        <td>{{grant.amount}}</td>
                        <td>{{grant.order_no}}</td>
                        <td>{{grant.bank_deposite_date}}</td>
                        <td>{{grant.remarks}}</td>
                        <form method="post">
                            {% csrf_token %}
                            <td><button class="btn btn-light" style="border-radius: 10px;" value="{{grant.id}}" name="edit">
                                <i class="fa-solid fa-pen-to-square" style="color: {{request.session.color}};"></i>
                            </button></td>
                            <td><button class="btn btn-light" style="border-radius: 10px;" value="{{grant.id}}" name="delete">
                                <i class="fa-solid fa-eraser" style="color: {{request.session.color}};"></i>
                            </button></td>
                        </form>
                    </tr>

                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}