{% extends 'main.html' %}
{% load static %}
{% block title %}
<title>Home | Gov. Secondary School Babarkot</title>

{% endblock title %}
{% block content %}
<style>
  .log{
    background: #1FA2FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #A6FFCB, #12D8FA, #1FA2FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #A6FFCB, #12D8FA, #1FA2FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  @media only screen and (max-width: 480px) {

    .log{
      height: 350px;
    }

  }

  .quote{
    background: #1FA2FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #A6FFCB, #12D8FA, #1FA2FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #A6FFCB, #12D8FA, #1FA2FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

</style>
<div class="container-fluid shadow p-3 log">
  <div class="container text-center">
  <img class="img-fluid" src="https://ik.imagekit.io/destroyer/tras_cBa7GDd_j.png?ik-sdk-version=javascript-1.4.3&updatedAt=1652791103550" alt="logo" width="300">
  </div>
</div>
<div class="quote shadow text-center text-white pt-3 pb-3 ps-5 pe-5 border-top border-white border-4">
  <p class="fs-2 fw-bold">{{quote.term}}</p>
  <hr>
  <p class="fs-6 fw-bold">{{quote.qoute}}</p>
</div>
<style>
  img{
    object-fit: contain !important;
  }
    .card{
        border-radius:30px;
        height:300px;

    }


.push,{
height: 0px;
}
.car1,.car2,.car3{
    height: 200px;
}
</style>
<div class="container text-white pt-4 pb-3 text-center">
  <p class="fs-2 fw-bold text-shadow-2" style="color:
    {{request.session.color}};">શાળાના મુખ્ય ત્રણ સંવિધાનો</p>
<div class="row row-cols-1 row-cols-lg-3 gx-4 gy-5 pb-4">
  <div class="col dom">
    <div class="card card-cover h-100 text-bg-dark border border-white bg-body border-5 rounded-5 shadow" style="background-image: url('https://ik.imagekit.io/destroyer/42752083-success-goal-achievement-successful-complete-concept-transformed_l4jpPTYVU.jpeg?ik-sdk-version=javascript-1.4.3&amp;updatedAt=1652789952290');background-size: cover;background-position: center;">
    </div>
    <div class="d-flex flex-column h-100 p-3 pb-3 text-dark text-shadow-1 mx-auto text-center">
        <h2 class="fs-3 lh-1 fw-bold ">
            શિસ્ત
        </h2>
    </div>
  </div>

  <div class="col dom">
    <div class="card card-cover h-100 text-bg-dark border border-white bg-body border-5 rounded-5 shadow" style="background-image: url('https://ik.imagekit.io/destroyer/world-philosophy-day-education-concept-with-tree-of-knowledge-planting-on-opening-old-big-book-1059422276-47f095a519b64b70b61590b065d8d1bd_IAG50SU6v.webp?ik-sdk-version=javascript-1.4.3&amp;updatedAt=1652790493362');background-size: cover;background-position: center;">
    </div>
    <div class="d-flex flex-column h-100 p-3 pb-3 text-dark text-shadow-1 mx-auto text-center">
        <h2 class="fs-3 lh-1 fw-bold ">
            સંસ્કાર
        </h2>
    </div>
  </div>

  <div class="col dom">
    <div class="card card-cover h-100 text-bg-dark border border-white bg-body border-5 rounded-5 shadow" style="background-image: url('https://ik.imagekit.io/destroyer/2021_7_largeimg_120027060_IcKWd2XDD.jpg?ik-sdk-version=javascript-1.4.3&amp;updatedAt=1652790543936');background-size: cover;background-position: center;">
    </div>
    <div class="d-flex flex-column h-100 p-3 pb-3 text-dark text-shadow-1 mx-auto text-center">
        <h2 class="fs-3 lh-1 fw-bold ">
            શિક્ષણ
        </h2>
    </div>
  </div>
</div>
</div>
<div class="container">
  <hr class="border border-2 border-dark">
</div>
<div class="container-fluid pt-2 pb-2 text-white">
  <p class="fs-2 fw-bold mt-3 text-center" style="color:
    {{request.session.color}};">
    શિક્ષણની શરૂઆત
  </p>
  <div class="text-center mb-3">
    <img src="{% static 'img/sfw573dnwchool.png' %}" class="img-fluid
      border border-white border-5 shadow" width="900" style="border-radius:
      50px;">
  </div>
  <div class="container-fluid cal text-dark">
    <p class="fs-6 fw-bold">&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;શ્રી
      સરકારી માધ્યમિક શાળા- બાબરકોટની સ્થાપના તારીખ 16/06/2011
      ના રોજ થઇ. દરિયા કિનારે મીઠી વીરડી સમાન 10 વર્ષથી લોકોની તરસ છીપાવે છે આ
      10
      વર્ષ દરમિયાન શાળાએ ખૂબ જ સંઘર્ષપૂર્ણ પરિસ્થિતિનો સામનો કર્યો છે. એક રીતે આ
      યાત્રા સંઘર્ષયાત્રા બની રહી છે પરંતુ સમગ્ર શાળા પરિવાર એકતા અને પરસ્પર
      સહકારની ભાવનાથી “અગવડતાઓમાં સગવડતા ઊભી કરવી” ના સૂત્રને સાર્થક કરતાં આ
      સૂત્રને જ સ્વભાવ બનાવી સતત ચાલતા રહ્યા. શાળા કાર્યરત રાખવા માટે અનેક
      પડકારોનો સામનો કરવો પડ્યો જેમાં સૌથી મોટાં પડકારોમાં શાળાને શાળાના
      બિલ્ડીંગ
      વગર, શિક્ષકોની ઘટ સાથે, વિદ્યાર્થીઓની બહોળી સંખ્યા અને કોઈપણ પ્રકારની
      ભૌતિક
      સુવિધા વગર આજદિન સુધી અવિરત કાર્યરત રાખવાનો હતો. આ પડકારને જીલવામાં શ્રી
      બાબરકોટ પ્રાથમિક શાળા એ ખૂબ જ સહયોગ આપી સહાયકની ભૂમિકા ભજવી છે. અનેક
      મુશ્કેલીઓ અને સંઘર્ષો
      વચ્ચે પણ શિક્ષણ યજ્ઞ અવિરત ચાલુ રહ્યો છે. 'स्वयं दीप: भवेत' એ મુજબ સતત
      જ્ઞાનનો પ્રકાશ આ શાળા ફેલાવી રહી છે અને અજ્ઞાનના અંધકારને દૂર કરી રહી છે.
      “શિસ્ત, સંસ્કાર અને શિક્ષણનો ત્રિવેણી સંગમરૂપી આ શાળાએ શિક્ષણનું ઝરણું સતત
      વહેતું રાખ્યું.”
      માત્ર શિક્ષણ જ આ શાળાનો ધ્યેય ન રહેતા શિસ્ત, સંસ્કાર,
      નિષ્ઠા, આધ્યાત્મિકતા, જીવન કૌશલ્યોનો વિકાસ, ઉત્તમ ભાવિ નિર્માણ, ઉત્તમ
      વિચારધારા, નૈતિક મૂલ્યોનું ઘડતર, વ્યસનમુક્તિ વગેરે સદગુણોનું પણ વહન કરે
      છે.
      શાળા ધીમા છતાં મક્કમ પગલે ધ્યેયપ્રાપ્તિ તરફ આગળ વધી રહી છે વિદ્યાર્થીઓમાં
      બૌધિક, ભાવાત્મક અને આધ્યાત્મિક વિકાસ થાય તેવું વાતાવરણ પૂરું પડતાં રહ્યા
      છીએ. “સાદું જીવન અને ઉચ્ચ વિચારો” જેવા મહાપુરુષોના જીવનના મૂલ્યો
      વિદ્યાર્થીઓને શીખવવામાં આવે છે. “શિક્ષણને જીવન જીવવા માટેનું સર્વશ્રેષ્ઠ
      સાધન બનાવવાના ધ્યેય સાથે જીવનરૂપી સમુદ્રમાં જેટલા ઊંડા પહોંચી શકાય તેટલા જ
      ઉત્તમ રત્નો પ્રાપ્ત કરી શકાય છે આ સત્યને બાળક અહીંયા શીખે છે.”</p>
    <div class="text-end mt-4">
      <figcaption class="blockquote-footer fw-bold fs-6">
        હિનાબેન ચૌહાણ (આચાર્ય)
      </figcaption>
    </div>
  </div>
</div>

<style>
 .fac{
    transition: transform .5s ease;
  }
  .fac:hover {
    color: white;
    transform: scale(0.9);
    background-color: {{request.session.color}};

}
</style>
<div class="container">
  <hr class="border border-2 border-dark">
</div>
<p class="text-center fw-bold fs-2 mt-4" style="color: {{request.session.color}};">શાળાની સુવિધાઓ</p>
<div class="container mt-3">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card fac shadow p-3 h-100">
        <div class="mx-auto mt-3">
          <i class="fa-solid fa-person-chalkboard display-3"></i>
        </div>
        <div class="card-body mt-3 text-center">
          <h5 class="card-title fw-bold fs-3">શિક્ષક</h5>
          <hr>
          <p class="card-text fw-bold">સ્પર્ધાત્મક પરીક્ષામાં ઉતીર્ણ થયેલા
            લાયકાત ધરાવતા, તાલીમબધ્ધ શિક્ષકો દ્વારા શિક્ષણ.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card fac shadow p-3 h-100">
        <div class="mx-auto mt-3">
          <i class="fa-solid fa-chalkboard-user display-3"></i>
        </div>
        <div class="card-body mt-3 text-center">
          <h5 class="card-title fw-bold fs-3">સ્માર્ટબોર્ડ</h5>
          <hr>
          <p class="card-text fw-bold">દ્રશ્ય-શ્રાવ્ય માધ્યમથી જીવંત શિક્ષણ
            આપવામાં આવે છે.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card fac shadow p-3 h-100">
        <div class="mx-auto mt-3">
          <i class="fa-solid fa-computer display-3"></i>
        </div>
        <div class="card-body mt-3 text-center">
          <h5 class="card-title fw-bold fs-3">કોમપ્યુટર લેબ</h5>
          <hr>
          <p class="card-text fw-bold">કોમપ્યુટર શિક્ષણ દ્વારા શિક્ષણને
            ટેકનૉલોજી સાથે જોડી અધ્યતન શિક્ષણ આપવામાં આવે છે.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card fac shadow p-3 h-100">
        <div class="mx-auto mt-3">
          <i class="fa-solid fa-flask display-3"></i>
        </div>
        <div class="card-body mt-3 text-center">
          <h5 class="card-title fw-bold fs-3">વિજ્ઞાન</h5>
          <hr>
          <p class="card-text fw-bold">વિજ્ઞાન વિષયના શૈક્ષણિક સાધનો દ્વારા
            પ્રયોગ કરાવી અનુભવજન્ય શિક્ષણ આપવામાં આવે છે.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card fac shadow p-3 h-100">
        <div class="mx-auto mt-3">
          <i class="fa-solid fa-compass-drafting display-3"></i>
        </div>
        <div class="card-body mt-3 text-center">
          <h5 class="card-title fw-bold fs-3">ગણિત</h5>
          <hr>
          <p class="card-text fw-bold">ગણિતના સાધનો દ્વારા પ્રેક્ટિસ કરાવમાં આવે
            છે.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card fac shadow p-3 h-100">
        <div class="mx-auto mt-3">
          <i class="fa-solid fa-screwdriver-wrench display-3"></i>
        </div>
        <div class="card-body mt-3 text-center">
          <h5 class="card-title fw-bold fs-3">વોકેશનલ</h5>
          <hr>
          <p class="card-text fw-bold">ધોરણ-૯ થી વોકેશનલ વિષયનાં શિક્ષણ દ્વારા
            જીવન કૌશલ્ય શીખવવામાં આવે છે.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card fac shadow p-3 h-100">
        <div class="mx-auto mt-3">
          <i class="fa-solid fa-bus display-3"></i>
        </div>
        <div class="card-body mt-3 text-center">
          <h5 class="card-title fw-bold fs-3">ટ્રાન્સપોર્ટેશન</h5>
          <hr>
          <p class="card-text fw-bold">શાળાથી દૂર રહેતા વિદ્યાર્થીઓ માટે શાળાએ
            આવવા-જવા માટે મફત ટ્રાન્સપોર્ટેશન સુવિધા આપવામાં આવે છે.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card fac shadow p-3 h-100">
        <div class="mx-auto mt-3">
          <i class="fa-solid fa-book display-3"></i>
        </div>
        <div class="card-body mt-3 text-center">
          <h5 class="card-title fw-bold fs-3">પુસ્તકાલય</h5>
          <hr>
          <p class="card-text fw-bold">મનના વિચારો શુધ્ધ થઇ જાય એવા અદ્યતન
            પુસ્તકોથી સુસજ્જ પુસ્તકાલય.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card fac shadow p-3 h-100">
        <div class="mx-auto mt-3">
          <i class="fa-solid fa-table-tennis-paddle-ball display-3"></i>
        </div>
        <div class="card-body mt-3 text-center">
          <h5 class="card-title fw-bold fs-3">રમતગમત</h5>
          <hr>
          <p class="card-text fw-bold">નવી શિક્ષણ નીતિ મુજબ બાળકના સર્વાંગી
            વિકાસ માટે રમતનું મોટું મેદાન અને રમતના સાધનોની સુવિધા .</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card fac shadow p-3 h-100">
        <div class="mx-auto mt-3">
          <i class="fa-solid fa-glass-water-droplet display-3"></i>
        </div>
        <div class="card-body mt-3 text-center">
          <h5 class="card-title fw-bold fs-3">પીવાનું પાણી</h5>
          <hr>
          <p class="card-text fw-bold">પીવાના શુધ્ધ પાણીની સુવિધા.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card fac shadow p-3 h-100">
        <div class="mx-auto mt-3">
          <i class="fa-solid fa-toilet display-3"></i>
        </div>
        <div class="card-body mt-3 text-center">
          <h5 class="card-title fw-bold fs-3">સેનિટેશન</h5>
          <hr>
          <p class="card-text fw-bold">કુમાર,કન્યા અને દિવ્યાંગ બાળક માટે અલગ
            સેનિટેશનની સુવિધા.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card fac shadow p-3 h-100">
        <div class="mx-auto mt-3">
          <i class="fa-solid fa-school display-3"></i>
        </div>
        <div class="card-body mt-3 text-center">
          <h5 class="card-title fw-bold fs-3">બિલ્ડીંગ</h5>
          <hr>
          <p class="card-text fw-bold">અભ્યાસ માટે અદ્યતન બિલ્ડીંગ અને સ્વચ્છ
            હવા ઉજાસ વાળા વર્ગખંડ.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card fac shadow p-3 h-100">
        <div class="mx-auto mt-3">
          <i class="fa-solid fa-pump-soap display-3"></i>
        </div>
        <div class="card-body mt-3 text-center">
          <h5 class="card-title fw-bold fs-3">સાબુ બેન્ક</h5>
          <hr>
          <p class="card-text fw-bold">સાબુ બેન્ક દ્વારા સ્વચ્છતા ક્રાંતિનું
            સર્જન.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card fac shadow p-3 h-100">
        <div class="mx-auto mt-3">
          <i class="fa-solid fa-glass-water-droplet display-3"></i>
        </div>
        <div class="card-body mt-3 text-center">
          <h5 class="card-title fw-bold fs-3">ફર્સ્ટ એઇડ કીટ</h5>
          <hr>
          <p class="card-text fw-bold">વિકટ પરિસ્થિતીમાં તાત્કાલિક સારવાર માટે
            ફર્સ્ટ એઇડ કિટની સુવિધા.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card fac shadow p-3 h-100">
        <div class="mx-auto mt-3">
          <i class="fa-solid fa-shapes display-3"></i>
        </div>
        <div class="card-body mt-3 text-center">
          <h5 class="card-title fw-bold fs-3">શૈક્ષણિક સાધનો</h5>
          <hr>
          <p class="card-text fw-bold">અદ્યતન શિક્ષણ માટે તમામ પ્રકારના શૈક્ષણિક
            સાધનોની સુવિધા.</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
{% block map %}

  <div class="mapouter border border-primary border-4">
    <div class="gmap_canvas">
      <iframe class="w-100 p-2"
        style="border-radius: 15px;"
        height="350"
        id="gmap_canvas"
        src="https://maps.google.com/maps?q=20.869705712716545,%2071.40835700473312&t=&z=19&ie=UTF8&iwloc=&output=embed"
        frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
      </iframe>
    </div>
  </div>

<style>
  @media only screen and (min-width : 1224px) {
    .cal{
        width: 900px;
    }
/* Styles */
}
  @media only screen and (max-width: 480px) {

    .map{
      width:75%;
    }
  }
</style>
{% endblock map %}