{% extends 'main.html' %}
{% load static %}

{% block title %}
    <title>
        Staff | Gov. Secondary School Babarkot
    </title>
{% endblock title %}

{% block content %}
    <div class="container text-center">
        <p class="fs-2 mt-3 mb-3" style="color: {{request.session.color}};"><b>શાળાનો સ્ટાફ</b></p>
        <div class="row row-cols-1 row-cols-lg-4 g-4">
          
          {% for teacher in teacher %}
                        
          <div class="col">
            <div class="card h-100 p-3 shadow" style="border-radius: 20px;background-color: {{request.session.color}};color:white;">
              <!-- <img src="{{teacher.profile_picture.url}}" class="card-img-top shadow" alt="profile_pic" width="200" style="border-radius: 10px;"> -->
              <div class="card-body fw-bold">
                <h5 class="card-title fw-bold">{{teacher.user.first_name}} {{teacher.user.last_name}}</h5>
                <hr>
                <p class="card-text">({{teacher.designation}}) {{teacher.qualification}}
                  <br>Subject - {{teacher.subject}}
                </p>
              </div>
            </div>
          </div>

          {% endfor %}
        </div>
    </div>
    <style>
      
    .zoom {
        transition: transform .2s;
    }
    .zoom:hover {
        transform: scale(0.8); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
      }
    </style>
{% endblock content %}
    
    